<style>
  .card{
    padding: 10px;
    margin: 12px;
  }
  #footer{
    position: absolute;
    width: 85%;
  }
</style>

<h3>Shop All</h3>
<p>Shop StreetSmart for all the new and upcoming trends and styles</p>
<div class="container row">
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/NikeDunkLowGreyFog.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nike Dunk Low</h5>
      <p class="card-text">Grey Fog</p>
      <a routerLink="/nikeDunkLow" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/NikeSBDunkLowTravisScott.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nike SB Dunk Low</h5>
      <p class="card-text">Travis Scott</p>
      <a routerLink="/nikeSBDunkLow" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/ConverseChuckTaylorAllStar.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Converse Chuck Taylor All-Star 70 Hi</h5>
      <p class="card-text">Comme de Garcons PLAY black</p>
      <a routerLink="/converseChuckTaylor" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/AdidasYeezyKnitRNR.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Yeezy Knit RNR</h5>
      <p class="card-text">Stone Carbon</p>
      <a routerLink="/adidasYeezyKnitRNNR" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="container row">
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/AirJordan1HighZoomAir.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jordan 1 High Zoom Air CMFT</h5>
      <p class="card-text">Anthracite</p>
      <a routerLink="/airJordanHighZoom" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/NewBalance550.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New Balance 550</h5>
      <p class="card-text">White Purple</p>
      <a routerLink="/newBalance" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/AdidasYeezyFoamVermillion.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Yeezy Foam RNNR</h5>
      <p class="card-text">Vermillion</p>
      <a routerLink="/adidasFoamRNNR" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/AdidasYeezySlidePure.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Yeezy Slide</h5>
      <p class="card-text">Pure (First Release)</p>
      <a routerLink="/adidasYeezySlide" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="container row">
  <div class="card mb-3" style="width: 18rem;">
    <img src="/assets/Apperal/FearofGodEssentialsCoreCollectionHoodie.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fear of God Essential Core Collection Hoodie</h5>
      <p class="card-text">Stretch Limo</p>
      <a routerLink="/fearOfGodPulloverHoodie" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/PopSmokexVloneTracklistTee.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pop Smoke x Vlone Tracklist Tee</h5>
      <p class="card-text">Black</p>
      <a routerLink="/popSmokexVloneTee" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/JuiceWrldxVloneLegendsNeverDieShirt.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Juice Wrld Legends Never Die T-Shirt</h5>
      <p class="card-text">White</p>
      <a routerLink="/juiceWrldxVloneLegendsNeverDieTShirt" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/FearofGodEssentialsShortsSeafoam.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fear of God Essentials Shorts</h5>
      <p class="card-text">Seafoam</p>
      <a routerLink="/fearOfGodShorts" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="container row">
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/NikeTechFleeceJoggers.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nike Tech Fleece Joggers</h5>
      <p class="card-text">Black/Dark Grey Heather/White</p>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <a routerLink="/nikeTechFleeceJoggers" class="btn btn-primary">View</a>
    <img src="assets/Apperal/FearofGodEssentialsSweatpants.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fear of God Essentials Sweatpants</h5>
      <p class="card-text">Black/White</p>
      <a routerLink="/fearOfGodSweatpants" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/GuccixTheNorthFaceJacket.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gucci x The North Face Anorak Jacket</h5>
      <p class="card-text">Light Blue/Beige</p>
      <a routerLink="/guccixTheNorthFaceAnorakJacket" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/PalaceAMG20LondonShirt.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Palace AMG 2.0 London T-Shirt</h5>
      <p class="card-text">Orange/Purple</p>
      <a routerLink="/palaceAMG20LondinTShirt" class="btn btn-primary">View</a>
    </div>
  </div>
</div>

<div class="container">
  <footer class="card-footer" id="footer">
    <p>Author: Francisco Ramos</p>
    <p><a href="mailto:fmr5179@psu.edu">fmr5179@psu.edu</a></p>
  </footer>
</div>
