<style>
  .card{
    padding: 10px;
    margin: 12px;
  }
  #footer{
    position: absolute;
    width: 85%;
  }
</style>

<h3>Shoes</h3>
<p>Shop StreetSmart for all styles, including the most popular streetwear shoes</p>
<div class="container row">
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/NikeDunkLowGreyFog.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nike Dunk Low</h5>
      <p class="card-text">Grey Fog</p>
      <a routerLink="/nikeDunkLow" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/NikeSBDunkLowTravisScott.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nike SB Dunk Low</h5>
      <p class="card-text">Travis Scott</p>
      <a routerLink="/nikeSBDunkLow" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/ConverseChuckTaylorAllStar.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Converse Chuck Taylor All-Star 70 Hi</h5>
      <p class="card-text">Comme de Garcons PLAY black</p>
      <a routerLink="/converseChuckTaylor" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/AdidasYeezyKnitRNR.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Yeezy Knit RNR</h5>
      <p class="card-text">Stone Carbon</p>
      <a routerLink="/adidasYeezyKnitRNNR" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="container row">
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/AirJordan1HighZoomAir.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jordan 1 High Zoom Air CMFT</h5>
      <p class="card-text">Anthracite</p>
      <a routerLink="/airJordanHighZoom" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/NewBalance550.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New Balance 550</h5>
      <p class="card-text">White Purple</p>
      <a routerLink="/newBalance" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/AdidasYeezyFoamVermillion.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Yeezy Foam RNNR</h5>
      <p class="card-text">Vermillion</p>
      <a routerLink="/adidasFoamRNNR" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Shoes/AdidasYeezySlidePure.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Yeezy Slide</h5>
      <p class="card-text">Pure (First Release)</p>
      <a routerLink="/adidasYeezySlide" class="btn btn-primary">View</a>
    </div>
  </div>
</div>

<div class="container">
  <footer class="card-footer" id="footer">
    <p>Author: Francisco Ramos</p>
    <p><a href="mailto:fmr5179@psu.edu">fmr5179@psu.edu</a></p>
  </footer>
</div>
