
<style>
  #cards{
    align-content: center;
    padding: 25px;
  }
  #footer{
    position: absolute;
    width: 85%;
  }
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" id="carouselPics">
    <div class="carousel-item active">
      <img src="assets/Banners/OriginalStreetwearBanner.jpg" class="d-block w-100" height="350px" width="..." alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/Banners/BrooklynStreetwearBanner.jpg" class="d-block w-100" height="350px" width="..." alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/Banners/StayHumbleBanner.jpg" class="d-block w-100" height="350px" width="..." alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> <br>

<div class="row" id="cards">
  <h2>Featured</h2>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Shoes/AdidasYeezySlidePure.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Adidas Yeezy Slide</h5>
        <p class="card-text">(Pure) First Release</p>
        <a routerLink="/adidasYeezySlide" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Shoes/AdidasYeezyFoamVermillion.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Adidas Yeezy Foam RNNR</h5>
        <p class="card-text">Vermillion</p>
        <a routerLink="/adidasFoamRNNR" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Apperal/FearofGodEssentialsCoreCollectionHoodie.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fear of God Essential Core Collection Hoodie</h5>
        <p class="card-text">Stretch Limo</p>
        <a routerLink="/fearOfGodPulloverHoodie" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="assets/Apperal/PopSmokexVloneTracklistTee.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pop Smoke x Vlone Tracklist Tee</h5>
        <p class="card-text">Black</p>
        <a routerLink="/popSmokexVloneTee" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
  <footer class="card-footer" id="footer">
    <p>Author: Francisco Ramos</p>
    <p><a href="mailto:fmr5179@psu.edu">fmr5179@psu.edu</a></p>
  </footer>
</div>




