<style>
  .card{
    padding: 10px;
    margin: 12px;
  }
</style>

<h3>Apparel</h3>
<p>Shop StreetSmart for all styles, including the most popular streetwear</p>
<div class="container row">
  <div class="card mb-3" style="width: 18rem;">
    <img src="/assets/Apperal/FearofGodEssentialsCoreCollectionHoodie.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fear of God Essential Core Collection Hoodie</h5>
      <p class="card-text">Stretch Limo</p>
      <a routerLink="/fearOfGodPulloverHoodie" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/PopSmokexVloneTracklistTee.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pop Smoke x Vlone Tracklist Tee</h5>
      <p class="card-text">Black</p>
      <a routerLink="/popSmokexVloneTee" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/JuiceWrldxVloneLegendsNeverDieShirt.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Juice Wrld Legends Never Die T-Shirt</h5>
      <p class="card-text">White</p>
      <a routerLink="/juiceWrldxVloneLegendsNeverDieTShirt" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/FearofGodEssentialsShortsSeafoam.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fear of God Essentials Shorts</h5>
      <p class="card-text">Seafoam</p>
      <a routerLink="/fearOfGodShorts" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="container row">
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/NikeTechFleeceJoggers.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nike Tech Fleece Joggers</h5>
      <p class="card-text">Black/Dark Grey Heather/White</p>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <a routerLink="/nikeTechFleeceJoggers" class="btn btn-primary">View</a>
    <img src="assets/Apperal/FearofGodEssentialsSweatpants.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fear of God Essentials Sweatpants</h5>
      <p class="card-text">Black/White</p>
      <a routerLink="/fearOfGodSweatpants" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/GuccixTheNorthFaceJacket.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gucci x The North Face Anorak Jacket</h5>
      <p class="card-text">Light Blue/Beige</p>
      <a routerLink="/guccixTheNorthFaceAnorakJacket" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="assets/Apperal/PalaceAMG20LondonShirt.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Palace AMG 2.0 London T-Shirt</h5>
      <p class="card-text">Orange/Purple</p>
      <a routerLink="/palaceAMG20LondinTShirt" class="btn btn-primary">View</a>
    </div>
  </div>
</div>

<div class="container">
  <footer class="card-footer" id="footer">
    <p>Author: Francisco Ramos</p>
    <p><a href="mailto:fmr5179@psu.edu">fmr5179@psu.edu</a></p>
  </footer>
</div>

